rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedEmail() {
      return request.auth != null && (
        request.auth.token.email.matches(/.*@bodin\\.ac\\.th$/) ||
        request.auth.token.email == 'teacher@gmail.com'
      );
    }

    match /{classroomId}/{studentId} {
      allow read: if isAllowedEmail() && (
        request.auth.token.email == studentId + '@bodin.ac.th' ||
        request.auth.token.email == 'teacher@gmail.com'
      );

      allow write: if isAllowedEmail() && (
        request.auth.token.email == studentId + '@bodin.ac.th' ||
        request.auth.token.email == 'teacher@gmail.com'
      ) && request.resource.data.table is number && request.resource.data.table >= 0 && request.resource.data.table <= 40;
    }
  }
}